select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.eventModalCard {
  width: 25rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 2;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}
.eventModal_closeBtn {
  position: relative;
  top: 0;
  left: 95%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 1.05rem;
  cursor: pointer;
}
.eventModal_titleTextField {
  position: relative;
  display: block;
  width: 90%;
  left: 10%;
  margin: 0.5rem 0;
  border-bottom: 1px solid #000;
  font-size: 1.3rem;
}
.eventModal_textFields:hover {
  border-bottom: 1px solid #000;
}
.eventModal_textFields:focus {
  border-bottom: 1px solid #1A73E8;
}
.eventModal_titleTextField::placeholder {
  font-size: 1.3rem;
}
.eventModal_descriptionTextField {
  width: 90%;
  left: 10%;
  margin: 0.5rem 0 1.5rem;
  border-bottom: 1px solid #000;
}
.eventModal_dateDiv {
  display: flex;
  margin: 0.8rem 0 !important;
}
.eventModal_dateDivIcon {
  margin: auto 1rem auto 0;
  font-size: 1.1rem;
  color: #1A73E8;
}
.eventModal_dateDivText {
  display: block;
  margin: auto 0 !important;
}
.colorOptionsSelect {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.eventModal_timeDiv {
  padding-left: 1.95rem;
  display: flex;
  margin: 0.8rem 0;
  justify-content: space-between;
}
.eventModal_timeDivDashIcon {
  position: relative;
  top: 0.25rem;
}
.eventModal_timePickerMinBox {
  width: 5rem;
}
.eventModal_timeHrSelect {
  padding: 0.27rem 1rem;
}
.eventModal_labelColorIcon {
  margin: auto 1rem auto 0 !important; 
  font-size: 1.35rem;
  color: #1A73E8;
}
.eventModal_labelColorHeading {
  display: block; 
  margin: auto 1rem auto 0 !important;
}
.eventModal_submitBtn {
  position: absolute;
  right: 0;
  background-color: #1A73E8;
  color: #fff;
  font-weight: 500;
  height: 2.1rem;
  border-radius: 4px;
}
.eventModal_submitBtn:hover {
  background-color: #1254aa;
  color: #fff;
}
.eventModal_submitBtnDiv {
  position: relative;
  height: 2rem;
}